{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'styles/styles.css' %}">
</head>
<body>
    <div>
        <h2>Register</h2>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>

        <p>Or continue with:</p>
        <a href="{% provider_login_url 'google' %}"> Google </a>

    </div>

</body>
</html>